<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Editing Bus Detail</h1>

    <%= render 'form', bus_detail: @bus_detail %>

    <%= link_to 'Show', @bus_detail %> |
    <%= link_to 'Back', bus_details_path %>
  </div>
  <div class="col-md-4"></div>
</div>