<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>New Bus Detail</h1>

    <%= render 'form', bus_detail: @bus_detail %>

  </div>
  <div class="col-md-4"></div>
</div>