
<div class="container">
  <div class=""col-md-8">
	 <div class="stop">
	 <p><%= stop.content %></p>
	 <p>
	 <%= link_to "Delete", busform_stop_path(@busform, stop.id), method: :delete, data: { confirm: "Are you sure?" } %>

	 </p>
	     </div>


	
	</div>
 </div>

