<div class="banner bus-banner">
    <!-- container -->
    <div class="container">
      <div class="col-md-8 banner-right">
                        <div id ="map">
                        </div>
                        
        <!---metromain--->
      </div>
      <div class="col-md-4 banner-left">
        <div class="sap_tabs">  
          <div class="booking-info about-booking-info">
            <h2>Travel By A City Bus</h2>
          </div>
          <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">  
              <!---->        
                  <div class="facts about-facts">
                    <div class="booking-form">
                                <div class=""book_date"">

      <input id="origin-input" class="maploc" type="text"placeholder="Enter an origin location">

      <br>
      <br>

          <input id="destination-input" class="maploc" type="text"placeholder="Enter a destination location">                         
                                            
                                        
                                        </div>
                                     
                                     <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class=""reservation"">
                                            
                                            <input type="text" name="distance" id="distance" placeholder="Total Kms" readonly="true" />
                                          
                                        </div>
                                     
                                     <div class="clearfix"></div>
  

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
	





<br>
<br>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwMxo4Zne-NBl8A8h-MBYlgjxppC_5rLc&libraries=places&callback=initMap"async defer>
</script>

<br>
<br>
<br>
<br>
<br>


